@charset "UTF-8";
/* --------------작은 카테고리------------- */
#sml-category-area{
  width: 1200px;
  margin: 0 auto;
}

.sml-category {
  display: flex;
  /* justify-content: center; */
  line-height: 60px;
  width: 400px;
  flex-grow: 1;
  /* background: green; */
}

.sml-category > li {
  font-size: 12px;
  margin-left: 14px;
  font-weight: bold;
}

/* 작은 메뉴 색상 변경(건드리면 골치아픔) */
.sml-category:hover > span {
  color: #a4835f;
}

.sml-category:hover > span .material-icons-outlined.chgcolor {
  color: #a4835f;
}

.sml-category:hover > span .material-icons.chgcolor {
  color: #a4835f;
}

#bar {
  font-size: 14px;
  font-weight: bold;
}

#sml-ctgr-img1 {
  display: inline-block;
  vertical-align: -7px;
  margin-right: 15px;
  width: 10px;
  height: 10px;
}
#tbl-question{
    table-layout: center;
    margin:auto;
    text-align: center;
    border-collapse: collapse;
    position: relative;
} th, td {
    font-size: 20px;
    border-bottom: 1px solid rgb(184, 167, 167);
    padding: 10px;
  }

#btn-area {
  width: 964px;
  margin: auto;
  text-align: center;
  /* background-color: yellow; */
  margin-top: 30px;
}

#btn1 {
  font-size: 15px;
  /* font-weight: bold; */
  position: relative;
  margin: auto;
  background-color: #a4835f;
  border: none;
  border-radius: 10px;
  padding: 10px 32px;
  color: white;
  cursor: pointer;
}

#pageBar{
  text-align:center;
  margin-bottom: 20px;
}

footer {
    position: fixed;
    margin:0 auto; text-align:center;
    width: 1200px;
    /* left: 50%;
    transform: translateX( -50% ); */
    /* flex-direction: column; */
    
    position: sticky;
    /* top: 100%; */
    
  
    background-color: #272727;
    border-top: 1px solid #333;
  }
  footer .inner {
    padding: 40px 0 60px 0;
  }
  footer .inner .menu {
    display: flex;
    justify-content: center;
  }
  footer .inner .menu li {
    position: relative;
  }
  footer .inner .menu li::before {
    content: "";
    width: px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
  }
  footer .inner .menu li:last-child::before {
    display: none;
  }
  footer .inner .menu li a {
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    display: block;
  }
  
  
  
  footer .inner .info {
    margin-top: 30px;
    text-align: center;
  }
  footer .inner .info span {
    color: #999;
    margin-right: 20px;
    font-size: 12px;
  }
  footer .inner .info span:last-child {
    margin-right: 0;
  }
  footer .inner .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }
  footer .inner .logo {
    margin: 30px auto 0;
  }
  footer .inner .ucam {
    color: white;
    text-align: center;
  }